@import "../variables";

:host {
    .content{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @media #{$mat-gt-xs} {
            max-width: 580px;
          }

        @media #{$mat-gt-sm} {
            max-width: 768px;
          }
    }
}